{
    "root": true,
    "env": {
        "node": true,
        "jest": true
    },
    "plugins": [
        "@typescript-eslint/tslint",
        "graphql"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false
        },
        "project": "tsconfig.json"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "rules": {
        "quotes": [1, "single", {
            "allowTemplateLiterals": true
        }],
        "@typescript-eslint/tslint/config": [
            "warn",
            {
                "lintFile": "./tslint.json",
                "rules": {},
                "rulesDirectory": []
            }
        ],
        "@typescript-eslint/explicit-function-return-type": "Off",
        "@typescript-eslint/interface-name-prefix": "Off"
    }
}